$primary: #ffffff;
$color-1: #8b8e8f;
$color-2: #aeb2b4;
$color-3: #0c3653;
$color-4: #f26e22;
$color-5: #312e2a;
$color-6: #f9fbfb;
$color-7: #0b314b;
$color-8: #abadae;
$color-9: #707070;

$xs: "(max-width: 575px)";
$sm: "(min-width: 576px) and (max-width: 767px)";
$md: "(min-width: 768px) and (max-width: 991px)";
$lg: "(min-width: 992px) and (max-width: 1199px)";
$xl: "(min-width: 1200px)";

$sm-min: "(min-width: 576px)";
$md-min: "(min-width: 768px)";
$lg-min: "(min-width: 992px)";
$xl-min: "(min-width: 1200px)";

$xs-max: "(max-width: 575px)";
$sm-max: "(max-width: 767px)";
$md-max: "(max-width: 991px)";
$lg-max: "(max-width: 1199px)";

$text-media: xxs xs sm md lg xl xxl;
$text-size: 12 14 17 20 25 32 40;
$text-decrease-md: 1 2 3 4 5 6 7;
$text-decrease-sm: 2 2 4 4 5 5 10;
$text-decrease-xs: 3 3 5 6 9 9 15;

@each $media in $text-media {
  $i: index($text-media, $media);

  @media ($lg-min) {
    .text-#{$media} {
      font-size: nth($text-size, $i) + px;
    }
  }

  @media ($md) {
    .text-#{$media} {
      font-size: (nth($text-size, $i) - nth($text-decrease-md, $i)) + px;
    }
  }

  @media ($sm) {
    .text-#{$media} {
      font-size: (nth($text-size, $i) - nth($text-decrease-sm, $i)) + px;
    }
  }

  @media ($xs) {
    .text-#{$media} {
      font-size: (nth($text-size, $i) - nth($text-decrease-xs, $i)) + px;
    }
  }
}

.btn-primary,
.btn-primary:focus {
  color: $primary;
  background-color: $color-4;
  border-color: transparent;
  box-shadow: 0 15px 29px 0 rgba(242, 110, 34, 0.35);
}

.btn-primary:hover {
  background-color: #e9702b;
  border-color: transparent;
  box-shadow: 0 5px 15px 0 rgba(242, 110, 34, 0.35);
}

.btn-outline-secondary,
.btn-outline-secondary:focus {
  color: $primary;
  border-color: $primary;
}

.btn-outline-secondary:hover {
  background-color: transparent;
  box-shadow: 0 5px 15px 0 black;
}

.no-shadow {
  box-shadow: 0 0 !important;
  text-shadow: 0 0 !important;
}

.text-orange {
  color: $color-4;
}

.text-white {
  color: $primary;
}

.text-navy {
  color: $color-3;
}

.text-darkgrey {
  color: $color-1;
}

.text-grey {
  color: $color-2;
}

.bg-orange {
  background-color: $color-4;
}

.bg-white {
  background-color: $primary;
}

.bg-navy {
  background-color: $color-3;
}

.bg-darknavy {
  background-color: $color-7;
}

.card {
  border-radius: 13px;
  border-color: transparent;
  box-shadow: 0 17px 16px 0 rgba(235, 241, 245, 0.55);
}
