$primary: #ffffff;
$color-1: #8b8e8f;
$color-2: #aeb2b4;
$color-3: #0c3653;
$color-4: #f26e22;
$color-5: #312e2a;
$color-6: #f9fbfb;
$color-7: #0b314b;
$color-8: #abadae;
$color-9: #707070;

$title: 32px;
$subtitle: 14px;
